*{
    margin: 0;
    padding: 0;
}
.nav{
    margin: auto;
    text-align: center;
    font-family: fantasy;
    width: 100%;
    font-size: 24px;
}
.nav ul{
    background: #495450);
    list-style: none;
    position: relative;
    display: inline;
    width: 100%;
    padding: 0 10px;
}
.nav ul li{
    float: left;
}
.nav ul li:hover{
    background: #788a83;
}
.nav ul li a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;

}